<html>
  <head>
    <%-include('header.ejs') %>
  </head>
  <body>
    <h1><a href="/">이어살기 찾아요</a></h1>
    <div class = "login-form">
        <form>
            ID: <br>
            <input type="text"> <br>
            PW: <br>
            <input type="text"> <br>
        </form>
        <div class = "login-signup-button">
            <button>로그인</button>
            <button><a href="/sign_up">회원가입</a></button>
        </div>
    </div>
</body>
</html>