<h1><a href="/">이어살기 찾아요</a></h1>
<div class = "grid">
    <ul id = "first_list"> 
        <li>위치</li>
        <ul id = "second list">
            <li><a href = "north.html" class = "gate">북문</a></li>
            <li><a class = "gate">정문</a></li>
            <li><a class = "gate">쪽문</a></li>
            <li><a class = "gate">서문</a></li>
        </ul>
    </ul>
    <div class = "main_page">
        <%- include('post_list.ejs') %>
        <div class = "write">
            <button onclick="location.href='write'">글쓰기</button>
        </div>
    </div>
    <div class = "login-signup-button">
        <% if(isLogin == false){ %>
            <button onclick="location.href='login'">로그인/회원가입</button>
        <% } else { %> 
            <button onclick="location.href='logout'">로그아웃</button>
        <% } %> 
    </div>
</div>